<!--/////////////////-->
<!-- Admin Dashboard -->
<!--/////////////////-->

<main>
	<div class="container" id="landing-page">
		<div class="mx-5 m-5">
			<h1 class="text-center text-light display-2">Admin Dashboard</h1>
		</div>
	</div>
</main>

<!-- Injected Report Table for Admin View -->

<!--////////////////////-->
<!-- Admin Report Table -->
<!--////////////////////-->

<div class="container mt-3">

	<!--<h2 class="m-2 p-3 text-light">Reports Submitted-->
	<!--<button class="btn btn-info my-0 mr-sm-2 d-inline-block ml-auto"><i class="fa fa-pie-chart" (click)="listCategories()"></i>&nbsp;Sort By Category</button>-->
	<!--</h2>-->

	<!--Category Button Dropdown-->

	<div class="input-group d-block ml-4">
		<div class="input-group-btn">
			<h2 class="m-2 p-3 text-light d-inline-block">Reports Submitted</h2>
				<button type="button" class="btn btn-info mb-2 d-inline-block mr-auto rounded"><i class="fa fa-pie-chart"></i>&nbsp;Sort By Category
				<select title="category" (change)="filterCategory($event.target.value);">
					<option *ngFor="let category of categories" [value]="category.categoryId">{{category.categoryName}}
					</option>
				</select>
				</button>
		</div>


		<table class="table table-bordered table-responsive mb-5">

			<!-- Table Head -->

			<thead class="thead-dark">
				<tr>
					<th class="px-5 text-center">Category</th>
					<th class="text-center">Date Reported</th>
					<th class="text-center">Report Status</th>
					<th class="text-center">Report Urgency</th>
					<th class="text-center">Report Content</th>
					<th class="text-center">View Report</th>
				</tr>
			</thead>

			<!-- Table Body -->

			<tbody class="table-light mb-5">

				<!-- Dynamic Table Rows -->

				<tr *ngFor="let report of reports;">
					<td>{{ getCategoryByCategoryId(report.reportCategoryId).categoryName }}</td>
					<td>{{ report.reportDateTime | date }}</td>
					<td>{{ report.reportStatus }}</td>
					<td>{{ report.reportUrgency}}</td>
					<td>{{ report.reportContent }}</td>

					<!-- Report Edit Modal  -->

					<td (click)="setSharedValue(report.reportId);">
						<button class="btn btn-info my-0 mr-sm-2" data-toggle="modal" data-target="#report-admin-view-modal"><i class="fa fa-pencil-square-o"></i>Edit Report
						</button>
					</td>
				</tr>

			</tbody>
		</table>

	</div>
</div>

<div>
	<p class="py-5 mt-5 text-light text-center">Thanks for using ABQ Report!!</p>
</div>

<comment></comment>
<report-admin-view></report-admin-view>

<sign-in></sign-in>
<sign-up></sign-up>
<sign-out></sign-out>