<!--//////////////////////////-->
<!-- Public View Landing Page -->
<!--//////////////////////////-->

<!--////////-->
<!-- NavBar -->
<!--////////-->

<header>
	<nav class="navbar navbar-default navbar-expand-md navbar-fixed-top bg-light">
		<a class="navbar-brand text-dark" routerLink="home-view">ABQ Report</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
			<ul class="navbar-nav ml-auto">
				<li class="nav-link">
					<button class="btn btn-info my-0 mr-sm-2" data-toggle="modal" data-target="#signup-modal"><i class="fa fa-user-plus"></i> Sign Up</button>
				</li>
				<li class="nav-link">
					<button class="btn btn-info my-0 mr-sm-2" data-toggle="modal" data-target="#signin-modal"><i class="fa fa-sign-in"></i> Sign In</button>
				</li>
				<!--<li class="nav-link">-->
					<!--<button class="btn btn-info my-0 mr-sm-2" data-toggle="modal" data-target="#signout-modal"><i class="fa fa-sign-out"></i> Sign Out</button>-->
				<!--</li>-->
			</ul>
		</div>
	</nav>
</header>

<!--//////////////-->
<!-- Main Content -->
<!--//////////////-->

<main>
	<div class="container" id="landing-page">
		<div class="mx-5 m-5">
			<h1 class="text-center text-light display-2">Welcome to <em>Report ABQ!</em></h1>
		</div>
	</div>
</main>

<!--////////////////-->
<!-- Category Table -->
<!--////////////////-->

<!--<div class="container mt-3">-->
	<!--<div class="ml-4">-->
		<!--<table class="table table-bordered table-responsive mb-5">-->
			<!--<thead class="thead-dark">-->
				<!--<tr>-->
					<!--<th class="text-center">Categories (Select Category to Submit Report)</th>-->
					<!--<th class="text-center">Description</th>-->
				<!--</tr>-->
			<!--</thead>-->
			<!--<tbody class="table-light mb-5">-->
				<!--<tr>-->
					<!--<td class="text-center"><a data-toggle="modal" href="#report-submit-modal">Pets & Wildlife</a></td>-->
					<!--<td></td>-->
				<!--</tr>-->
				<!--<tr>-->
					<!--<td class="text-center"><a data-toggle="modal" href="#report-submit-modal">Water & Sewer</a></td>-->
					<!--<td></td>-->
				<!--</tr>-->
				<!--<tr>-->
					<!--<td class="text-center"><a data-toggle="modal" href="#report-submit-modal">Trash & Recycling</a></td>-->
					<!--<td></td>-->
				<!--</tr>-->
				<!--<tr>-->
					<!--<td class="text-center"><a data-toggle="modal" href="#report-submit-modal">Health & Safety</a></td>-->
					<!--<td></td>-->
				<!--</tr>-->
				<!--<tr>-->
					<!--<td class="text-center"><a data-toggle="modal" href="#report-submit-modal">Parks & Public Land</a></td>-->
					<!--<td></td>-->
				<!--</tr>-->
				<!--<tr>-->
					<!--<td class="text-center"><a data-toggle="modal" href="#report-submit-modal">Streets & Sidewalks</a></td>-->
					<!--<td></td>-->
				<!--</tr>-->
				<!--<tr>-->
					<!--<td class="text-center"><a data-toggle="modal" href="#report-submit-modal">Signs & Lights</a></td>-->
					<!--<td></td>-->
				<!--</tr>-->
				<!--<tr>-->
					<!--<td class="text-center"><a data-toggle="modal" href="#report-submit-modal">Miscellaneous</a></td>-->
					<!--<td></td>-->
				<!--</tr>-->
			<!--</tbody>-->
		<!--</table>-->
	<!--</div>-->
<!--</div>-->

<!--/////////////////////-->
<!-- Public Report Table -->
<!--/////////////////////-->

<div class="container mt-3">

	<div class="input-group d-block ml-4">
		<div class="input-group-btn">
			<h2 class="m-2 p-3 text-light">Reports Submitted
				<button class="btn btn-info my-0 mr-sm-2 d-inline-block ml-auto" data-toggle="modal" data-target="#report-submit-modal"><i class="fa fa-pencil"></i> Submit Report</button>
			</h2>
		</div>
	</div>

	<div class="ml-4">

		<!-- Table Head -->

		<table class="table table-bordered table-responsive mb-5">
			<thead class="thead-dark"><!-- Table Head -->
				<tr>
					<th class="text-center px-4">Category</th>
					<th class="text-center">Date Reported</th>
					<th class="text-center">Report Status</th>
					<th class="text-center">Report Content</th>
					<th class="text-center">View Report</th>
				</tr>
			</thead>

			<tbody class="table-light mb-5"><!-- Table Body -->

				<!-- Dynamic Table Rows -->

				<tr *ngFor="let report of reports;">
					<td>{{ getCategoryByCategoryId(report.reportCategoryId).categoryName}}</td>
					<td>{{ report.reportDateTime | date }}</td>
					<td>{{ report.reportStatus }}</td>
					<td>{{ report.reportContent }}</td>

					<!-- Report View Modal -->
					<td (click)="setSharedValue(report.reportId);">
						<button class="btn btn-info my-0 mr-sm-2" data-toggle="modal" data-target="#report-public-view-modal"><i
							class="fa fa-binoculars" ></i> View Report</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>

<div>
	<p class="py-5 mt-5 text-light text-center">Thanks for visiting ABQ Report!!</p>
</div>

<!-- Modal Window Components (Child Components for Home View)-->
<report-submit></report-submit>
<report-public-view></report-public-view>
<sign-in></sign-in>
<sign-up></sign-up>