<!--//////////////////////////-->
<!-- Public View Landing Page -->
<!--//////////////////////////-->

<main>
	<div class="container" id="landing-page">
		<div class="mx-5 m-5">
			<h1 class="text-center text-light display-2">Welcome to <em>ABQ Report!</em></h1>
		</div>
	</div>
</main>

<!--/////////////////////-->
<!-- Public Report Table -->
<!--/////////////////////-->

<div class="container mt-3">

	<div class="input-group d-block ml-4">
		<div class="input-group-btn">
			<h2 class="m-2 p-3 text-light">Reports Submitted
				<button class="btn btn-info my-0 mr-sm-2 d-inline-block ml-auto" data-toggle="modal" data-target="#report-submit-modal"><i class="fa fa-pencil"></i>Submit Report</button>
			</h2>
		</div>
	</div>

	<div class="ml-4">

		<!-- Table Head -->

		<table class="table table-bordered table-responsive mb-5">
			<thead class="thead-dark"><!-- Table Head -->
				<tr>
					<th class="text-center px-4">Category</th>
					<th class="text-center">Date Reported</th>
					<th class="text-center">Report Status</th>
					<th class="text-center">Report Content</th>
					<th class="text-center">View Report</th>
				</tr>
			</thead>

			<tbody class="table-light mb-5"><!-- Table Body -->

				<!-- Dynamic Table Rows -->

				<tr *ngFor="let report of reports;">
					<td>{{ getCategoryByCategoryId(report.reportCategoryId).categoryName}}</td>
					<td>{{ report.reportDateTime | date }}</td>
					<td>{{ report.reportStatus }}</td>
					<td>{{ report.reportContent }}</td>

					<!-- Report View Modal -->
					<td (click)="setSharedValue(report.reportId);">
						<button class="btn btn-info my-0 mr-sm-2" data-toggle="modal" data-target="#report-public-view-modal"><i
							class="fa fa-binoculars" ></i> View Report</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>

<div>
	<p class="py-5 mt-5 text-light text-center">Thanks for visiting ABQ Report!!</p>
</div>

<!-- Modal Window Components (Child Components for Home View)-->
<report-submit></report-submit>
<report-public-view></report-public-view>
<sign-in></sign-in>
<sign-up></sign-up>
<sign-out></sign-out>