<!--///////////////////////-->
<!-- Main Routing Template -->
<!--///////////////////////-->

<!-- Inject Navbar -->

<navbar></navbar>

<!-- The Site Content Router -->

<div class="sfooter-content">
	<router-outlet></router-outlet>
</div>

<!-- Inject Universal Footer -->

<foot></foot>

<!-- Modal Window Components -->

<!-- We will have to discuss the placement of these 'child' components in the 'parent' components already made. -->
<!-- Home View Components -->
<report-submit></report-submit>
<report-public-view></report-public-view>

<!-- Admin Dashboard Components -->
<sign-in></sign-in>
<sign-up></sign-up>
<sign-out></sign-out>
<comment></comment>
<report-admin-view></report-admin-view>
