<!--///////////////////////-->
<!-- Main Routing Template -->
<!--///////////////////////-->

<!-- Inject Navbar -->

<navbar></navbar>

<!-- The Site Content Router -->

<div class="sfooter-content">
	<router-outlet></router-outlet>
</div>

<!-- Inject Universal Footer -->

<foot></foot>

<!-- Modal Window Components -->

<sign-in></sign-in>
<sign-up></sign-up>
<sign-out></sign-out>
<report-public-view></report-public-view>
<report-admin-view></report-admin-view>
<report-submit></report-submit>
<comment></comment>