<div class="modal fade" tabindex="-1" role="dialog" id="report-submit-modal">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">

	<!-- Heading -->

			<div class="modal-header">
				<h1 class="modal-title heading d-inline-block">Submit A Report</h1>

				<!-- Button to dismiss modal -->

				<button type="button" class="close" data-dismiss="modal" aria-label="close">
					<span aria-hidden="true"> &times; </span>
				</button>
			</div>

			<!-- Location -->

			<div class="container">
				<form name="reportSubmitForm" id="reportSubmitForm" [formGroup]="reportSubmitForm" (submit)="createReport()" novalidate>
					<div class="form-group">
						<label for="reportCategoryId">Select Category</label>
						<select id="reportCategoryId" class="form-control mb-2" name="reportCategoryId" required [formControlName]="reportCategoryId">
							<option *ngFor="let category of categories" [value]="category.categoryId">
								{{category.categoryName}}
							</option>
						</select>
					</div>
					<div class="row">
						<div class="col-md-4">
							<input type="text" readonly class="form-control" id="staticReportDateTime" [value]="report.reportDateTime">
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-sm-3 my-2">
							<input type="text" class="form-control" placeholder="Street Address" formControlName="reportStreetAddress">
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-sm-3 my-2">
							<input type="text" class="form-control" placeholder="City" formControlName="reportCity">
						</div>
						<div class="col-md-4 col-sm-3 my-2">
							<input type="text" class="form-control" placeholder="State" formControlName="reportState">
						</div>
						<div class="col-md-4 col-sm-3 my-2">
							<input type="text" class="form-control" placeholder="Zip Code" formControlName="reportZipCode">
						</div>
					</div>


			<!-- Form text area -->

					<div class="form-group">
						<textarea class="form-control" rows="5" placeholder="Please describe the issue." formControlName="reportContent"></textarea>
					</div>

			<!-- Upload Images Area -->

					<div class="row">
						<div class="col-6">
							<label for="image" class="ml-5">Upload Image(s)</label>
							<input type="file" class="form-control-file ml-5" id="image" (submit)="uploadImage()">
						</div>
						<div class="col-6">
							<img src="#image" alt="Review Images">
						</div>
					</div>

					<!-- Submit buttons -->

					<div class="row">
						<div class="col">
							<div class="d-flex justify-content-center my-5">
								<button class="btn btn-primary mr-3" type="submit" value="Submit"><i class="fa fa-paper-plane"></i> Submit</button>
								<button class="btn btn-danger ml-3" type="submit" value="Cancel"><i class="fa fa-ban"></i> Cancel</button>
							</div>
						</div>
					</div>
				</form>
			</div>


		</div>
	</div>
</div>