<!-- Report Public View (Pop-Up) -->
<div class="card" style="width: 50em; height: 50em">

	<h1>Reports Submitted</h1>

	<div>
		<h3>Category Title</h3>
	</div>

	<form>
		<div class="form-group">
			<label for="staticDateReported" class="col-form-label">Date Reported</label>
			<div>
				<input type="text" readonly class="form-control" id="staticDateReported" value="11/28/2017">
			</div>
		</div>
		<div class="form-group">
			<label for="staticStatus" class="col-form-label">Status</label>
			<div>
				<input type="text" readonly class="form-control" id="staticStatus" value="Reported">
			</div>
		</div>
	</form>

	<div>
		<h3>Report Content</h3>
		<form>
			<div class="form-group">
				<!--<label for="content">Example textarea</label>-->
				<textarea class="form-control" id="content" rows="10"></textarea>
			</div>
		</form>
	</div>

	<div>
		<h3>Images</h3>
		<img src="..." alt="..." class="img-thumbnail">
		<img src="..." alt="..." class="img-thumbnail">
	</div>

</div>