<!--////////////////////////////-->
<!--      Report Admin View     -->
<!--////////////////////////////-->

<div>
	<form name="reportAdminViewForm" id="reportAdminViewForm" [formGroup]="reportAdminViewForm" (submit)="updateReport();" novalidate>
		<div>
			<h2>View/Edit Report</h2>
		</div>
		<div class="form-group">
			<label for="reportDateTime">Report Date: </label>
			<div class="input-group" id="reportDateTime">
				{{ reportDateTime }}
			</div>
		</div>
	</form>
</div>























<!--<div class="fade" tabindex="-1" role="dialog" id="">-->
	<!--<div class="" role="document">-->
		<!--<div class="">-->
			<!--<div class="bg-dark">-->

				<!--&lt;!&ndash; Modal Title &ndash;&gt;-->

				<!--<h1 class=" text-light ">Edit Report</h1>-->

				<!--&lt;!&ndash; Dismiss Button &ndash;&gt;-->

				<!--<button type="button" class="close" data-dismiss="" aria-label="close">-->
					<!--<span aria-hidden="true"> &times; </span>-->
				<!--</button>-->
			<!--</div>-->

			<!--&lt;!&ndash; Modal Content &ndash;&gt;-->

			<!--<div class="">-->
				<!--<form class="form-vertical" name="reportAdminView" [formGroup]="reportAdminViewForm" novalidate>-->

					<!--<div>&lt;!&ndash; Category Dropdown&ndash;&gt;-->
						<!--<div class="form-group">-->
							<!--<label for="reportCategoryId">Category</label>-->
							<!--<select id="reportCategoryId" class="form-control mb-2" name="reportCategoryId" required formControlName="reportCategoryId">-->
								<!--<option *ngFor="let category of categories" [value]="category.categoryId">-->
									<!--{{category.categoryName}}-->
								<!--</option>-->
							<!--</select>-->
						<!--</div>-->
					<!--</div>&lt;!&ndash; Category Dropdown&ndash;&gt;-->


					<!--<div class="form-group">&lt;!&ndash; Date &ndash;&gt;-->
						<!--<label for="reportDateTime" class="viewHeadings">Date Reported</label>-->
						<!--<div>-->
							<!--<input id="reportDateTime" type="text" readonly class="form-control-plaintext" name="reportDateTime" formControlName="reportDateTime" required>-->
						<!--</div>-->
					<!--</div>&lt;!&ndash; Date &ndash;&gt;-->

					<!--<div class="btn-toolbar mb-5" role="toolbar">-->

						<!--<div class="btn-group">&lt;!&ndash; Status&ndash;&gt;-->

							<!--<button class="btn btn-secondary" type="button">-->
								<!--Select Status-->
							<!--</button>-->
							<!--<button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split mr-5"-->
									  <!--data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
								<!--<span class="sr-only">Toggle Dropdown</span>-->
							<!--</button>-->
							<!--<div class="dropdown-menu">-->
							<!--</div>-->

						<!--</div>&lt;!&ndash; Status &ndash;&gt;-->

						<!--<div class="btn-group">&lt;!&ndash; Urgency &ndash;&gt;-->
							<!--<button class="btn btn-secondary" type="button">-->
								<!--Select Urgency-->
							<!--</button>-->
							<!--<button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"-->
									  <!--data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
								<!--<span class="sr-only">Toggle Dropdown</span>-->
							<!--</button>-->
							<!--<div class="dropdown-menu" aria-labelledby="">-->
								<!--<a class="dropdown-item" href="">1</a>-->
								<!--<a class="dropdown-item" href="">2</a>-->
								<!--<a class="dropdown-item" href="">3</a>-->
								<!--<a class="dropdown-item" href="">4</a>-->
								<!--<a class="dropdown-item" href="">5</a>-->
							<!--</div>-->
						<!--</div>&lt;!&ndash; Urgency &ndash;&gt;-->

					<!--</div>-->

					<!--<div>&lt;!&ndash; Report Content&ndash;&gt;-->
						<!--<div class="form-group">-->
							<!--<label for="content" class="viewHeadings">Report Content</label>-->
							<!--<textarea class="form-control" id="content" rows="10"></textarea>-->
						<!--</div>-->
					<!--</div>&lt;!&ndash; Report Content&ndash;&gt;-->

					<!--<div>-->
						<!--<h3 class="viewHeadings">Images</h3>-->
						<!--<img src="" alt="..." class="img-thumbnail">-->
						<!--<img src="" alt="..." class="img-thumbnail">-->
					<!--</div>-->

					<!--<div>-->
						<!--<div class="form-group">-->
							<!--<label for="comment" class="viewHeadings">Comments</label>-->
							<!--<textarea readonly class="form-control" id="comment" rows="10"></textarea>-->
							<!--<button class="btn btn-info my-3 mr-sm-2" data-toggle="modal" data-target="#comment-modal" (click)="createComment()"><i-->
								<!--class="fa fa-pencil-square-o"></i>Add Comment-->
							<!--</button>-->
							<!--<button class="btn btn-info my-3 mr-sm-2" data-toggle="modal" (click)="updateReport()"><i-->
								<!--class="fa fa-pencil-square-o"></i>Update Report-->
							<!--</button>-->
							<!--<button class="btn btn-danger my-3 mr-sm-2" (click)="deleteReport()"><i-->
								<!--class="fa fa-minus-circle"></i>&nbsp; Delete Report-->
							<!--</button>-->
							<!--<button class="btn btn-danger my-3 mr-sm-2 px-5" data-dismiss="modal" type="submit" value="Cancel"><i class="fa fa-ban"></i> Cancel</button>-->
						<!--</div>-->
					<!--</div>-->

				<!--</form>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
<!--</div>-->
