<!--////////////////////////////-->
<!-- Report Admin View (Pop-Up) -->
<!--////////////////////////////-->

<div class="modal fade" tabindex="-1" role="dialog" id="report-admin-view-modal">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header bg-dark">

				<!-- Modal Title -->

				<h1 class="modal-title text-light modTitle">View/Edit Report</h1>

				<!-- Dismiss Button -->

				<button type="button" class="close" data-dismiss="modal" aria-label="close">
					<span aria-hidden="true"> &times; </span>
				</button>
			</div>

			<!-- Modal Content -->

			<div class="modal-body">




				<form class="form-vertical" [formGroup]="reportAdminViewForm" novalidate> <!-- (submit)="updateReport();" -->

					<div><!-- Category Dropdown-->
						<div class="form-group">
							<label for="reportCategoryId">Category</label>
							<select id="reportCategoryId" class="form-control mb-2" name="reportCategoryId" required formControlName="reportCategoryId">
								<option *ngFor="let category of categories" [value]="category.categoryId">
									{{category.categoryName}}
								</option>
							</select>
						</div>
					</div><!-- Category Dropdown-->

					<!--(change)="filterStatus($event.target.value);"-->

					<div><!-- Category Dropdown-->
						<div class="form-group">
							<label for="reportStatus">Status</label>
							<select id="reportStatus" class="form-control mb-2" name="reportStatus" required formControlName="reportStatus">
								<option *ngFor="let status of reportStatusSeed" [value]="status">
									{{status}}
								</option>
							</select>
						</div>
					</div><!-- Category Dropdown-->

					<div><!-- Category Dropdown-->
						<div class="form-group">
							<label for="reportUrgency">Status</label>
							<select id="reportUrgency" class="form-control mb-2" name="reportUrgency" required formControlName="reportUrgency">
								<option *ngFor="let urgency of reportUrgencySeed" [value]="urgency">
									{{urgency}}
								</option>
							</select>
						</div>
					</div><!-- Category Dropdown-->


					<div class="row">
						<div class="col">
							<h2>Date Reported</h2>
							<div id="adminViewReportDateTime" class="mb-2 contentText">{{report.reportDateTime | date}}</div>
						</div>
						<div class="col">
							<h2>Update Status</h2>
							<div id="adminViewReportStatus" class="mb-2 contentText">{{report.reportStatus}}</div>
						</div>
						<div class="col">
							<h2>Update Urgency</h2>
							<div id="adminViewReportUrgency">{{report.reportUrgency}}</div>
						</div>
					</div>

					<div><!-- Report Content-->
						<div class="form-group" id="adminViewReportContent">
							<label for="content" class="viewHeadings">Report Content</label>
							<textarea class="form-control" id="content" rows="10"readonly>{{report.reportContent}}</textarea>
						</div>
					</div><!-- Report Content-->

					<div class="row">
						<div class="col">
							<h2>Images</h2>
							<img *ngFor="let image of images" [src]="image.imageCloudinary" alt="Report Image" class="img-thumbnail" id="publicViewReportImage"/>
						</div>
					</div>

					<div>
						<div class="form-group">
							<label for="comment" class="viewHeadings">Comment</label>
							<textarea readonly class="form-control" id="comment" rows="10"></textarea>
							<button class="btn btn-info my-3 mr-sm-2" data-toggle="modal" data-target="#comment-modal" (click)="createComment()"><i
								class="fa fa-pencil-square-o"></i>Add Comment
							</button>
							<button class="btn btn-info my-3 mr-sm-2" data-toggle="modal" (click)="updateReport()"><i
								class="fa fa-pencil-square-o"></i>Update Report
							</button>
							<button class="btn btn-danger my-3 mr-sm-2" (click)="deleteReport()"><i
								class="fa fa-minus-circle"></i>&nbsp; Delete Report
							</button>
							<button class="btn btn-danger my-3 mr-sm-2 px-5" data-dismiss="modal" type="submit" value="Cancel"><i class="fa fa-ban"></i> Cancel</button>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
</div>


<!--Excess HTML -->

					<!--<div class="form-group">&lt;!&ndash; Date &ndash;&gt;-->
						<!--<label for="reportDateTime" class="viewHeadings">Date Reported</label>-->
						<!--<div>-->
							<!--<input id="reportDateTime" type="text" readonly class="form-control-plaintext" name="reportDateTime" required formControlName="reportDateTime" value="{{reportDateTime}}">-->
						<!--</div>-->
					<!--</div>&lt;!&ndash; Date &ndash;&gt;-->

					<!--<div class="btn-toolbar mb-5" role="toolbar">-->

						<!--<div class="btn-group">&lt;!&ndash; Status&ndash;&gt;-->
							<!--<button class="btn btn-secondary" type="button">-->
								<!--Select Status-->
							<!--</button>-->
							<!--<button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split mr-5"-->
									  <!--data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
								<!--<span class="sr-only">Toggle Dropdown</span>-->
							<!--</button>-->
							<!--<div class="dropdown-menu">-->
							<!--</div>-->
						<!--</div>&lt;!&ndash; Status &ndash;&gt;-->

						<!--<div class="btn-group">&lt;!&ndash; Urgency &ndash;&gt;-->
							<!--<button class="btn btn-secondary" type="button">-->
								<!--Select Urgency-->
							<!--</button>-->
							<!--<button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"-->
									  <!--data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
								<!--<span class="sr-only">Toggle Dropdown</span>-->
							<!--</button>-->
							<!--<div class="dropdown-menu" aria-labelledby="">-->
								<!--<a class="dropdown-item" href="">1</a>-->
								<!--<a class="dropdown-item" href="">2</a>-->
								<!--<a class="dropdown-item" href="">3</a>-->
								<!--<a class="dropdown-item" href="">4</a>-->
								<!--<a class="dropdown-item" href="">5</a>-->
							<!--</div>-->
						<!--</div>&lt;!&ndash; Urgency &ndash;&gt;-->

					<!--</div>-->



					<!--<div>-->
						<!--<h3 class="viewHeadings">Images</h3>-->
						<!--<img src="" alt="..." class="img-thumbnail">-->
						<!--<img src="" alt="..." class="img-thumbnail">-->
					<!--</div>-->

					<!--<div>-->
						<!--<div class="form-group">-->
							<!--<label for="comment" class="viewHeadings">Comments</label>-->
							<!--<textarea readonly class="form-control" id="" rows="10"></textarea>-->
							<!--<button class="btn btn-info my-3 mr-sm-2" data-toggle="modal" data-target="#comment-modal" (click)="createComment()"><i-->
								<!--class="fa fa-pencil-square-o"></i>Add Comment-->
							<!--</button>-->
							<!--<button class="btn btn-info my-3 mr-sm-2" data-toggle="modal" (click)="updateReport()"><i-->
								<!--class="fa fa-pencil-square-o"></i>Update Report-->
							<!--</button>-->
							<!--<button class="btn btn-danger my-3 mr-sm-2" (click)="deleteReport()"><i-->
								<!--class="fa fa-minus-circle"></i>&nbsp; Delete Report-->
							<!--</button>-->
							<!--<button class="btn btn-danger my-3 mr-sm-2 px-5" data-dismiss="modal" type="submit" value="Cancel"><i class="fa fa-ban"></i> Cancel</button>-->
						<!--</div>-->
					<!--</div>-->


