<!--////////////////////-->
<!-- Admin Report Table -->
<!--////////////////////-->

<div class="container-fluid mt-3">
	<h2 class="m-2 p-3">Reports Submitted</h2>
	<table class="table table-bordered table-responsive mb-5">

		<!-- Table Head -->

		<thead class="thead-dark">
			<tr>
				<th class="px-5 text-center">Category</th>
				<th class="text-center">Date Reported</th>
				<th class="text-center">Report Status</th>
				<th class="text-center">Report Urgency</th>
				<th class="text-center">Report Content</th>
				<th class="text-center">View Report</th>
			</tr>
		</thead>

		<!-- Table Body -->

		<tbody class="table-light mb-5">

			<!-- Dynamic Table Rows -->

			<tr *ngFor="let report of reports">
				<th>{{ report.reportCategoryId }}</th>
				<td>{{ report.reportDateTime }}</td>
				<td>{{ report.reportStatus }}</td>
				<td>{{ report.reportUrgency}}</td>
				<td>{{ report.reportContent }}</td>

			 <!-- Report Edit Modal  -->

			<td>
				<button class="btn btn-info my-0 mr-sm-2" data-toggle="modal" data-target="#report-admin-view-modal" ><i class="fa fa-pencil-square-o"></i>&nbsp;Edit Report
				</button>
			</td>
			</tr>

			<!-- Static Table Rows (For Development) -->

			<!--<tr>-->
				<!--<th>Traffic Signs & Signals</th>-->
				<!--<td>11/27/2017</td>-->
				<!--<td>Reported</td>-->
				<!--<td class="text-center">3</td>-->
				<!--<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac nunc ut nisi mollis commodo ut ac-->
					<!--dolor. Suspendisse lectus odio, eleifend a rhoncus quis, pharetra non dui. Suspendisse faucibus ut dui-->
					<!--vitae hendrerit. Nullam id ex nec nisi pretium lacinia. Nam lacinia sollicitudin bibendum. Vivamus-->
					<!--pellentesque risus tellus, sit amet dignissim diam finibus vel. Aliquam lacus nisi, posuere ut nunc-->
					<!--dignissim, congue imperdiet elit. Donec in blandit arcu, sit amet luctus felis.-->
				<!--</td>-->

				<!--&lt;!&ndash;Report Edit Modal &ndash;&gt;-->

				<!--<td>-->
					<!--<button class="btn btn-info my-0 mr-sm-2" data-toggle="modal" data-target="#report-admin-view-modal"><i class="fa fa-pencil-square-o"></i>&nbsp;Edit Report-->
					<!--</button>-->
				<!--</td>-->
			<!--</tr>-->

		</tbody>
	</table>
</div>