<!--Report Submit Form (Pop-Up)-->
<div class="card submitter mt-5 bg-light">

	<!-- Heading -->

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="heading">Submit A Report</h1>
			</div>
		</div>
	</div>

	<!-- Location -->

	<div class="container">
		<form name="reportForm" id="reportForm" [formGroup]="reportForm" (submit)="createReport()" novalidate>
			<div>
				<label for="selectedCategory">Select Category</label>
				<select id="selectedCategory" class="form-control mb-2" name="selectedCategory" required [ngModel]="selectedCategory" #selectedCategory="ngModel" >
					<option *ngFor="let category of categories" [value]="category.categoryId">
						{{category.categoryName}}
					</option>
				</select>
			</div>
			<div class="row">
				<div class="col-md-12 col-sm-3 my-2">
					<input type="text" class="form-control" placeholder="Street Address">
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-3 my-2">
					<input type="text" class="form-control" placeholder="City">
				</div>
				<div class="col-md-4 col-sm-3 my-2">
					<input type="text" class="form-control" placeholder="State">
				</div>
				<div class="col-md-4 col-sm-3 my-2">
					<input type="text" class="form-control" placeholder="Zip Code">
				</div>
			</div>


	<!-- Form text area -->

			<div class="form-group">
				<textarea class="form-control" rows="5" placeholder="Please describe the issue."></textarea>
			</div>

	<!-- Upload Images Area -->

			<div class="row">
				<div class="col-6">
					<label for="image" class="ml-5">Upload Image(s)</label>
					<input type="file" class="form-control-file ml-5" id="image">
				</div>
				<div class="col-6">
					<iframe>Area to display uploaded images</iframe>
				</div>
			</div>

			<!-- Submit buttons -->

			<div class="row">
				<div class="col">
					<div class="d-flex justify-content-center mt-5">
						<button class="btn btn-primary mr-3" type="submit" value="Submit"><i class="fa fa-paper-plane"></i> Submit</button>
						<button class="btn btn-primary ml-3" type="submit" value="Cancel"><i class="fa fa-ban"></i> Cancel</button>
					</div>
				</div>
			</div>
		</form>
	</div>

</div>