<!-- Reports Made/History List (for admin view) -->
<div class="container">
	<table class="table bg-light category-table">
		<thead>
		<tr>
			<th class="px-5 text-center">Category</th>
			<th class="text-center">Date Reported</th>
			<th class="text-center">Report Status</th>
			<th class="text-center">Report Urgency</th>
			<th class="text-center">Report Content</th>
		</tr>
		</thead>
		<tbody>
			<tr>
				<th>Traffic Signs & Signals</th>
				<td>11/27/2017</td>
				<td>Reported</td>
				<td class="text-center">3</td>
				<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac nunc ut nisi mollis commodo ut ac dolor. Suspendisse lectus odio, eleifend a rhoncus quis, pharetra non dui. Suspendisse faucibus ut dui vitae hendrerit. Nullam id ex nec nisi pretium lacinia. Nam lacinia sollicitudin bibendum. Vivamus pellentesque risus tellus, sit amet dignissim diam finibus vel. Aliquam lacus nisi, posuere ut nunc dignissim, congue imperdiet elit. Donec in blandit arcu, sit amet luctus felis.</td>
			</tr>
		</tbody>
	</table>
</div>