<!-- Reports Made/History List (for admin view) -->
<div class="container-fluid mt-3">
	<h2 class="m-2 p-3">Reports Submitted</h2>
	<table class="table table-bordered table-responsive">
		<thead class="thead-dark">
		<tr>
			<th class="px-5 text-center">Category</th>
			<th class="text-center">Date Reported</th>
			<th class="text-center">Report Status</th>
			<th class="text-center">Report Urgency</th>
			<th class="text-center">Report Content</th>
			<th class="text-center">View Report</th>
		</tr>
		</thead>
		<tbody>
			<tr>
		<tbody class="table-light">
			<tr *ngFor="let report of reports">
				<td>{{ report.categoryName }}</td>
				<td>{{ report.reportDateTime }}</td>
				<td>{{ report.reportStatus }}</td>
				<td>{{ report.reportUrgency}}</td>
				<td>{{ report.reportContent }}</td>
				<td><button class="btn btn-info my-0 mr-sm-2" data-toggle="modal" data-target="#report-admin-view-modal"><i class="fa fa-pencil-square-o"></i>&nbsp;Edit Report</button></td>
			</tr>
		</tbody>
	</table>
</div>