<!--////////////////////////////-->
<!-- Report Admin View (Pop-Up) -->
<!--////////////////////////////-->

<div class="modal fade" tabindex="-1" role="dialog" id="report-admin-view-modal">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header bg-dark">

				<!-- Modal Title -->

				<h1 class="modal-title text-light modTitle">Edit Report</h1>

				<!-- Dismiss Button -->

				<button type="button" class="close" data-dismiss="modal" aria-label="close">
					<span aria-hidden="true"> &times; </span>
				</button>
			</div>

			<!-- Modal Content -->

			<div class="modal-body">
				<form class="form-vertical" [formGroup]="reportAdminViewForm" (submit)="updateReport();" novalidate>

					<div>
						<!-- Dynamic Field -->

						<!--<ul *ngFor="let category of categories">-->
						<!--<li>{{ report.reportCategoryId }}</li>-->
						<!--</ul>-->

						<!-- Static Field (For Development) -->

						<p class="viewHeadings">Category Title</p>
					</div>


					<div class="form-group">
						<label for="staticDateReported" class="viewHeadings">Date Reported</label>
						<div>
							<input type="text" readonly class="form-control-plaintext" id="staticDateReported"
									 value="11/28/2017">
						</div>
					</div>

					<div class="btn-toolbar mb-5" role="toolbar">
						<div class="btn-group">
							<button class="btn btn-secondary" type="button">
								Select Status
							</button>
							<button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split mr-5"
									  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="sr-only">Toggle Dropdown</span>
							</button>
							<div class="dropdown-menu">
							</div>
						</div>
						<div class="btn-group">
							<button class="btn btn-secondary" type="button">
								Select Urgency
							</button>
							<button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
									  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="sr-only">Toggle Dropdown</span>
							</button>
							<div class="dropdown-menu">
								...
							</div>
						</div>
					</div>

					<div>
						<div class="form-group">
							<label for="content" class="viewHeadings">Report Content</label>
							<textarea readonly class="form-control" id="content" rows="10"></textarea>
						</div>
					</div>

					<div>
						<h3 class="viewHeadings">Images</h3>
						<img src="" alt="..." class="img-thumbnail">
						<img src="" alt="..." class="img-thumbnail">
					</div>

					<div>
						<div class="form-group">
							<label for="comment" class="viewHeadings">Comments</label>
							<textarea readonly class="form-control" id="comment" rows="10"></textarea>
							<button class="btn btn-info my-3 mr-sm-2" data-toggle="modal" data-target="#comment-modal"><i
								class="fa fa-pencil-square-o"></i>&nbsp;Add Comment
							</button>
							<button class="btn btn-danger my-3 mr-sm-2" (submit)="deleteReport()"><i
								class="fa fa-minus-circle"></i>&nbsp; Delete Report
							</button>
							<button class="btn btn-danger my-3 mr-sm-2 px-5" data-dismiss="modal" type="submit" value="Cancel"><i class="fa fa-ban"></i> Cancel</button>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
</div>
