<!--/////////////////////////////-->
<!-- Report Public View (Pop-Up) -->
<!--/////////////////////////////-->

<div class="modal fade" tabindex="-1" role="dialog" id="report-public-view-modal">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="bg-dark modal-header">

				<!-- Modal Title -->

				<h1 class="modal-title text-light modTitle">Report Details</h1>

				<!-- Dismiss Button -->

				<button type="button" class="close" data-dismiss="modal" aria-label="close">
					<span aria-hidden="true"> &times; </span>
				</button>
			</div>
			<!-- Modal Content -->

			<div class="modal-body">
				<form name="reportPublicViewForm" id="reportPublicViewForm" [formGroup]="reportPublicViewForm">

					<div class="form-group">
						<label for="reportPubViewCategoryId">Category</label>
						<input id="reportPubViewCategoryId" class="form-control mb-2" readonly name="reportPubViewCategoryId" required formControlName="reportPubViewCategoryId"/>
						<option *ngFor="let category of categories" [value]="category.categoryId">
							{{category.categoryName}}
						</option>
					</div>


					<div class="form-group">
						<label for="publicViewReportDate" class="col-form-label">Date Reported</label>
						<div>
							<input type="text" readonly class="form-control" id="publicViewReportDate" name="publicViewReportDate" formControlName="publicViewReportDate" value="{{ report.reportDateTime }}"/>
						</div>
					</div>
					<div class="form-group">
						<label for="publicViewReportStatus" class="col-form-label">Status</label>
						<div>
							<input type="text" readonly class="form-control" id="publicViewReportStatus" name="publicViewReportStatus" formControlName="publicViewReportStatus" value="{{ report.reportStatus }}">
						</div>
					</div>


					<div>
						<div class="form-group">
							<label for="publicViewReportContent">Report Content</label>
							<textarea class="form-control" readonly rows="10" id="publicViewReportContent" name="publicViewReportContent" formControlName="publicViewReportContent" data-value="{{ report.reportContent }}"></textarea>
						</div>
					</div>

					<div>
						<div class="form-group">
							<label for="publicViewReportImage">Report Image</label>
							<img [src]="this.imageReportId.imageCloudinary" alt="" type="text" readonly class="form-control img-thumbnail" id="publicViewReportImage" name="publicViewReportImage" formControlName="publicViewReportImage">
						</div>

					</div>
					<button class="btn btn-danger my-3 mr-sm-2 px-5" data-dismiss="modal" type="submit" value="Cancel"><i class="fa fa-ban"></i> Exit
					</button>
				</form>
			</div>

		</div>
	</div>
</div>

