<!-- Reports Made/History List (Home View Partial)-->
<div class="container-fluid mt-3">
	<h2 class="m-2 p-3">Reports Submitted
	<button class="btn btn-info my-0 mr-sm-2 d-inline-block ml-auto" data-toggle="modal" data-target="#report-submit-modal"><i class="fa fa-pencil"></i>&nbsp;Submit Report</button>
	</h2>
	<table class="table table-bordered table-responsive">
		<thead class="thead-dark">
			<tr>
				<th class="text-center px-4">Category</th>
				<th class="text-center">Date Reported</th>
				<th class="text-center">Report Status</th>
				<th class="text-center">Report Content</th>
			</tr>
		</thead>
		<tbody class="table-light">
			<tr *ngFor="let report of reports">
				<td>{{ report.categoryName }}</td>
				<td>{{ report.reportDateTime }}</td>
				<td>{{ report.reportStatus }}</td>
				<td>{{ report.reportContent }}</td>
			</tr>
		</tbody>
	</table>
	<div class="container-fluid justify-content-center">

	</div>
</div>