<!--/////////////////////-->
<!-- Public Report Table -->
<!--/////////////////////-->

<div class="container-fluid mt-3">

	<h2 class="m-2 p-3 text-light">Reports Submitted
		<button class="btn btn-info my-0 mr-sm-2 d-inline-block ml-auto" data-toggle="modal" data-target="#report-submit-modal"><i class="fa fa-pencil"></i>Submit Report</button>
	</h2>

	<div>
		<table class="table table-bordered table-responsive mb-5">
			<thead class="thead-dark"><!-- Table Head -->
				<tr>
					<th class="text-center px-4">Category</th>
					<th class="text-center">Date Reported</th>
					<th class="text-center">Report Status</th>
					<th class="text-center">Report Content</th>
					<th class="text-center">View Report</th>
				</tr>
			</thead><!-- Table Head -->
			<tbody class="table-light mb-5"><!-- Table Body -->

				<!-- Dynamic Table Rows -->
				<tr *ngFor="let report of reports;">
					<td>{{ getCategorybyCategoryId(report.reportCategoryId).categoryName }}</td>
					<td>{{ report.reportDateTime | date }}</td>
					<td>{{ report.reportStatus }}</td>
					<td>{{ report.reportContent }}</td>

				<!-- Static Table Rows (For Development) -->

				<!--<tr>
					<th>Traffic Signs & Signals</th>
					<td>11/27/2017</td>
					<td>Reported</td>
					<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac nunc ut nisi mollis commodo ut ac dolor. Suspendisse lectus odio, eleifend a rhoncus quis, pharetra non dui. Suspendisse faucibus ut dui vitae hendrerit. Nullam id ex nec nisi pretium lacinia. Nam lacinia sollicitudin bibendum. Vivamus pellentesque risus tellus, sit amet dignissim diam finibus vel. Aliquam lacus nisi, posuere ut nunc dignissim, congue imperdiet elit. Donec in blandit arcu, sit amet luctus felis.</td>-->

					<!-- Report View Modal -->
					<td>
						<button class="btn btn-info my-0 mr-sm-2" data-toggle="modal" data-target="#report-public-view-modal"><i
							class="fa fa-binoculars"></i>View Report</button>
					</td>
				</tr>
			</tbody>
      </table>
	</div>

</div>