<!--///////////////-->
<!-- Sign Up Modal -->
<!--///////////////-->

<div class="modal fade" tabindex="-1" role="dialog" id="signup-modal">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">

				<!-- Modal Header -->

				<h1 class="modal-title">Please Enter Profile information</h1>

				<!-- Dismiss Button -->

				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>

			</div>

			<div class="modal-body">

				<!-- Sign Up form -->

				<form class="form-horizontal" [formGroup]="signUpForm"  (submit)="signUp();" novalidate>

					<!-- User Name Input -->

					<div class="form-group">
						<label for="profileUserName" class="sr-only control-label">User Name</label>
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user"></i></span>
							<input type="email" class="form-control" id="profileUserName" name="profileUserName" formControlName="profileUserName" placeholder="Username">
						</div>
						<div *ngIf="signUpForm.controls.profileUserName?.invalid && signUpForm.controls.profileUserName?.touched" class="alert alert-danger" role="alert">
							<div *ngIf="signUpForm.controls.profileUserName?.errors.required">User name is required.</div>
							<div *ngIf="signUpForm.controls.profileUserName?.errors.maxlength">User name is too long. {{signUpForm.controls.profileUsername?.errors.maxlength.actualLength - signUpForm.controls.profileUserName?.errors.maxlength.requiredLength}} too many characters.</div>
						</div>
					</div>

					<!-- Email Input-->

					<div class="form-group">
						<label for="profileEmail" class="sr-only control-label">Email</label>
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
							<input type="email" class="form-control input-sm" id="profileEmail" name="profileEmail" formControlName="profileEmail" placeholder="Email">
						</div>
						<div *ngIf="signUpForm.controls.profileEmail?.invalid && signUpForm.controls.profileEmail?.touched" class="alert alert-danger" role="alert">
							<div *ngIf="signUpForm.controls.profileEmail?.errors.required">Email is required.</div>
							<div *ngIf="signUpForm.controls.profileEmail?.errors.maxlength">Email is too long. {{signUpForm.controls.profileEmail?.errors.maxlength.actualLength - signUpForm.controls.profileEmail?.errors.maxlength.requiredLength}} too many characters.</div>
						</div>
					</div>

					<!-- Password Input -->

					<div class="form-group">
						<label for="profilePassword" class="sr-only control-label">Password</label>
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-lock"></i></span>
							<input type="password" class="form-control input-sm" id="profilePassword" name="profilePassword" formControlName="profilePassword" placeholder="Password">
						</div>
						<div *ngIf="signUpForm.controls.profilePassword?.invalid && signUpForm.controls.profilePassword?.touched" class="alert alert-danger" role="alert">
							<div *ngIf="signUpForm.controls.profilePassword?.errors.required">Password is required.</div>
							<div *ngIf="signUpForm.controls.profilePassword?.errors.maxlength">Password is too long. {{signUpForm.controls.profilePassword?.errors.maxlength.actualLength - signUpForm.controls.profilePassword?.errors.maxlength.requiredLength}} too many characters.</div>
						</div>
					</div>

					<!--Confirm Password -->

					<div class="form-group">
						<label for="profilePasswordConfirm" class="sr-only control-label">Confirm Password</label>
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-ellipsis-h"></i></span>
							<input type="password" class="form-control input-sm" id="profilePasswordConfirm" name="profilePasswordConfirm" formControlName="profilePasswordConfirm" placeholder="Confirm Password">
						</div>
						<div *ngIf="signUpForm.controls.profilePasswordConfirm?.invalid && signUpForm.controls.profilePasswordConfirm?.touched" class="alert alert-danger" role="alert">
							<div *ngIf="signUpForm.controls.profilePasswordConfirm?.errors.required">Password confirmation is required.</div>
							<div *ngIf="signUpForm.controls.profilePasswordConfirm?.errors.maxlength">Password is too long. {{signUpForm.controls.profilePasswordConfirm?.errors.maxlength.actualLength - signUpForm.controls.profilePasswordConfirm?.errors.maxlength.requiredLength}} too many characters.</div>
						</div>
					</div>

					<!-- Submit Button -->

					<div class="form-group">
						<button type="submit" class="btn btn-info">Sign Up</button>
					</div>


				</form>
			</div>

			<div *ngIf="status !== null" class="alert alert-dismissible" [ngClass]="status.type" role="alert">
				<button type="button" class="close" aria-label="Close" (click)="status = null;"><span
					aria-hidden="true">&times;</span></button>
				{{ status.message }}

			</div>
		</div>
	</div>
</div>
