<!-- setting up the modal -->
<div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-labelledby="signin">

	<div class="modal-dialog " role="document">

		<div class="modal-content">

			<div class="modal-header">

				<!-- header for the modal -->

				<h4 class="modal-title">Please Sing In</h4>

				<!-- button to dismiss the modal -->

				<button type="button" class="close" data-dismiss="modal" aria-label="close">
					<span aria-hidden="true"> &times; </span>
				</button>

			</div>


			<div class="modal-body">

				<!-- actual login form -->

				<form #signInForm="ngForm" class="form-horizontal" name="signInForm" id="signInForm" novalidate
						(ngSubmit)="signIn();">

					<!-- email goes here -->

					<div class="form-group">
						<label for="profileEmail" class="sr-only">Email</label>
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
							<input type="email" class="form-control" id="profileEmail" name="profileEmail" formControlName="profileEmail" placeholder="Email">
						</div>
						<div *ngIf="signInForm.controls.profileEmail?.invalid && signInForm.controls.profileEmail?.touched" class="alert alert-danger" role="alert">
							<div *ngIf="signInForm.controls.profileEmail?.errors.required">Email is required.</div>
							<div *ngIf="signInForm.controls.profileEmail?.errors.maxlength">Email is too long. {{signInForm.controls.profileEmail?.errors.maxlength.actualLength - signInForm.controls.profileEmail?.errors.maxlength.requiredLength}} too many characters.</div>
						</div>
					</div>

					<!-- password goes here -->
					<div class="form-group">
						<label for="profilePassword" class="sr-only">Password</label>
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-key"></i></span>
							<input type="password" class="form-control" id="profilePassword" name="profilePassword" formControlName="profilePassword" placeholder="Password">
						</div>
						<div *ngIf="signInForm.controls.profilePassword?.invalid && signInForm.controls.profilePassword?.touched" class="alert alert-danger" role="alert">
							<div *ngIf="signInForm.controls.profilePassword?.errors.required">Password is required.</div>
							<div *ngIf="signInForm.controls.profilePassword?.errors.maxlength">Password is too long. {{signInForm.controls.profilePassword?.errors.maxlength.actualLength - signInForm.controls.profilePassword?.errors.maxlength.requiredLength}} too many characters.</div>
						</div>
					</div>

					<div class="form-group">
						<button type="submit" id="submit" [disabled]="signInForm.invalid" class="btn btn-info"><i class="fa fa-sign-in"></i>&nbsp;Log in</button>
					</div>

				</form>

				<div *ngIf="status !== null" class="alert alert-dismissible" [ngClass]="status.type" role="alert">
					<button type="button" class="close" aria-label="Close" (click)="status = null;"><span
						aria-hidden="true">&times;</span></button>
					{{ status.message }}


				</div>


			</div>
		</div>


	</div>

</div>
