<!--///////////////-->
<!-- Sign In Modal -->
<!--///////////////-->

<div class="modal fade" id="signin-modal" tabindex="-1" role="dialog">

	<div class="modal-dialog" role="document">

		<div class="modal-content">

			<div class="modal-header">

				<!-- Modal Header -->

				<h4 class="modal-title modTitle">Please Sign In</h4>

				<!-- Dismiss Button -->

				<button type="button" class="close" data-dismiss="modal" aria-label="close">
					<span aria-hidden="true"> &times; </span>
				</button>

			</div>


			<div class="modal-body">

				<!-- Login form -->

				<form [formGroup]="signInForm" class="form-horizontal" (submit)="signIn();" novalidate>

					<!-- Email Input -->

					<div class="form-group">
						<label for="profileEmail" class="sr-only control-label">Email</label>
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
							<input type="email" class="form-control" id="profileEmail" name="profileEmail" formControlName="profileEmail" placeholder="Email">
						</div>
						<div *ngIf="signInForm.controls.profileEmail?.invalid && signInForm.controls.profileEmail?.touched" class="alert alert-danger" role="alert">
							<div *ngIf="signInForm.controls.profileEmail?.errors.required">Email is required.</div>
							<div *ngIf="signInForm.controls.profileEmail?.errors.maxlength">Email is too long. {{signInForm.controls.profileEmail?.errors.maxlength.actualLength - signInForm.controls.profileEmail?.errors.maxlength.requiredLength}} too many characters.</div>
						</div>
					</div>

					<!-- Password Input -->

					<div class="form-group">
						<label for="profilePassword" class="sr-only control-label">Password</label>
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-key"></i></span>
							<input type="password" class="form-control" id="profilePassword" name="profilePassword" formControlName="profilePassword" placeholder="Password">
						</div>
						<div *ngIf="signInForm.controls.profilePassword?.invalid && signInForm.controls.profilePassword?.touched" class="alert alert-danger" role="alert">
							<div *ngIf="signInForm.controls.profilePassword?.errors.required">Password is required.</div>
							<div *ngIf="signInForm.controls.profilePassword?.errors.maxlength">Password is too long. {{signInForm.controls.profilePassword?.errors.maxlength.actualLength - signInForm.controls.profilePassword?.errors.maxlength.requiredLength}} too many characters.</div>
						</div>
					</div>

					<div class="form-group">
						<button type="submit" id="submit" [disabled]="signInForm.invalid" class="btn btn-info"><i class="fa fa-sign-in"></i>&nbsp;Log in</button>
						<button class="btn btn-danger ml-3" data-dismiss="modal" type="submit" value="Cancel"><i class="fa fa-ban"></i> Cancel</button>
					</div>

				</form>

				<div *ngIf="status !== null" class="alert alert-dismissible" [ngClass]="status.type" role="alert">
					<button type="button" class="close" aria-label="Close" (click)="status = null;"><span
						aria-hidden="true">&times;</span></button>
					{{ status.message }}


				</div>
			</div>
		</div>
	</div>
</div>
