/*Change font for page and make universal for devices*/
html {
	font-size: 1em;
	font-family: 'Raleway', sans-serif;
	text-align: justify;
}

/*Style the header*/
.header {
	font-size: 3em;
	background-color: #ffac8e;
	text-align: center;
	padding: 20px;
}

/*Style the top navigation bar*/
.topnav {
	overflow: hidden;
	background-color: #333;
}

.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}
/*resize image for page*/
.persona {
	max-width: 40%;
	max-height: 40%;
	display: block;
	margin: 0 auto;
}

/*center main headings and increase size*/
h1 {
	font-size: 3em;
	text-align: center;
}

h2 {
	font-size: 2em;
	text-align: center;
}

/*center main info about George*/
.about {
	text-align: center;
}

p {
	padding: 0.0rem 15.0rem;
	text-align: justify;
}

/*Added <div> tag to allow centering of child elements*/
.centerList {
	text-align: center;
}

/*Centered list*/
ul {
	display: inline-block;
	text-align: left;
}

.story {
	text-align: center;
}
