<phpunit>
	<testsuites>
		<testsuite name="Infrastructure">
			<file>CategoryTest.php</file>
			<file>CommentTest.php</file>
			<file>ImageTest.php</file>
			<file>ProfileTest.php</file>
			<file>ReportTest.php</file>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">..</directory>
		</whitelist>
	</filter>
</phpunit>