body {
	font-family: 'Nunito', sans-serif;
	content: "";
	background-image: url("../public_html/images/night.jpg");
	background-attachment: fixed;
	background-size: 100%;
	position: absolute;
	height: 100%;
	width: 100%;
}

/** Home View **/

h1 {
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	padding-top: 10rem;
}

/** Report View Modals **/

.viewHeadings {
	font-size: 2em;
}

.modTitle {
	text-align: center;
	font-size: 4em;
	font-weight: bold;
	padding-top: 0;
}

#preview {
	max-width:180px;
}

input[type=file] {
	padding: 1rem;
}

.contentText {
	padding-left: 2rem;
	font-size: 1.25rem;
}