body {
	content: "";
	background-image: url("../public_html/images/Abqdowntown.jpg");
	background-attachment: fixed;
	background-size: 100%;
	position: absolute;
	height: 100%;
	width: 100%;
}

/** Report Submit **/

.submitter {
	margin: 5rem;
	padding: 5rem;
	width: 60em;
	height: 50em;
}

.heading {
	text-align: center;
}