body {
	font-family: 'Nunito', sans-serif;
	content: "";
	background-image: url("../public_html/images/Abqdowntown.jpg");
	background-attachment: fixed;
	background-size: 100%;
	position: absolute;
	height: 100%;
	width: 100%;
}

/** Home View **/

h1 {
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	padding-top: 10rem;
}

/** Report View Modals **/

.viewHeadings {
	font-size: 2em;
}

.modTitle {
	text-align: center;
	font-size: 4em;
	font-weight: bold;
	padding-top: 0;
}