body {
	font-family: 'Nunito', sans-serif;
	content: "";
	background-image: url("../public_html/images/Abqdowntown.jpg");
	background-attachment: fixed;
	background-size: 100%;
	position: absolute;
	height: 100%;
	width: 100%;
}

/** Home View **/

h1 {
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	padding-top: 10rem;
}

/** Report Submit **/

.submitter {
	margin: 5rem;
	padding: 5rem;
	width: 60em;
	height: 50em;
}

/** Report Listed By Category **/

.admin-report {
	margin: 5rem;
	padding: 5rem;
	width: 60em;
	height: 75em;
}